*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.div-text{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    position: absolute;
}

.div-text h1{
    margin-top: 3%;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

.fondo{
    background: linear-gradient(rgba(65, 65, 65, 0.240), rgba(65, 65, 65, 0.240)), url(../imagenes/FondoNivel.jpg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}