*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.divGeneral .divP, .divImg, .divGif{
    display: flex;
    position: absolute;
    width: 100vw;
    justify-content: center;
}


.divGeneral .divImg img{
    margin-top: 10%;
}

.divGeneral .divP p{
    margin-top: 16%;
    width: 55%;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    color: #fff;
    text-align: center;
    -webkit-text-stroke: 2px #000;
}

.divGeneral .divGif img{
    margin-top: 30%;
    width: 225px;
    height: 218px;
}

.fondo{
    background: linear-gradient(rgba(65, 65, 65, 0.52), rgba(65, 65, 65, 0.52)), url(../imagenes/FondoFinal.png);
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}